
{% set flag = true %}
{% for comment in comments %}
     <div class="beautiful_comment">
      <div class="media">
        <div class="media-left">
          <a href="{{ (comment.user is not null ) ?  path('app_admin_commentEdit', {'id': comment.id }):'#' }}">
            <img src="{{ asset('bundles/app/images/male_face_128.jpg') }}" style="width: 40px" data-email="{{ comment.user.email }}" data-size="40" class="img_gravatar" />
          </a>
        </div>
        <div class="media-body">
        <h4 class="media-heading custom_header"> {{ (comment.user is not null) ? comment.user.username:'' }} ({{ comment.postedAt|date('d/m/Y') }}) </h4>
            {{ comment.comment }}
        </div>
      </div>
      </div>
{% endfor %}