<div>
{% if (language == "en") %}
    {{ function.getEnglishDescription|html}}
{% else %}
    {{ function.getFrenchDescription|html }}
{% endif %}
<br><br>
<pre><code class="ezlanguage hljs">{{ str_code }}</code></pre>
</div>
{% include 'AppBundle:EZFunction:_description_arguments.html.twig' %}

<div class="html">
    <h2 class="main_title">Description</h2>
    {% if (language == "en") %}
        {{ function.getEnglishHtml|html }}
    {% else %}
        {{ function.getFrenchHtml|html }}
    {% endif %}
</div>
