{% if (language == "en") %}
    {{ function.getEnglishDescription|html}}
{% else %}
    {{ function.getFrenchDescription|html }}
{% endif %}
</div>
<div class="arguments">
    Arguments :
    {% for argument in function.getArguments %}
        {{ argument.name }}
    {% endfor %}
</div>
<div class="html">
    {% if (language == "en") %}
        {{ function.getEnglishHtml|html }}
    {% else %}
        {{ function.getFrenchHtml|html }}
    {% endif %}
</div>
