{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
    
    <h1>Create Function</h1>

    <form action="{{ path('app_admin_functionCreate') }}" method="post" {{ form_enctype(form) }} class="app">

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>


{% endblock content %}
