{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
    
    <h1>Create Function</h1>

    <form action="{{ path('app_admin_functionCreate') }}" method="post" {{ form_enctype(form) }} class="app">
        {{ form_row(form._token) }}
        {{ form_errors(form) }}
        
        {{ form_row(form.name) }}
        {{ form_row(form.french_description) }}
        {{ form_row(form.english_description) }}
        {{ form_row(form.french_html) }}
        {{ form_row(form.english_html) }}
        {{ form_row(form.category) }}
        <h3>Argument</h3>
        <button class="btn btn-default" id="add_argument_link" type="button">Add Argument</button>
        <ul class="arguments" data-prototype="{{ form_widget(form.arguments.vars.prototype)|e('html_attr') }}">
        </ul>
        <input type="submit" value="Submit" />
    </form>

{% endblock content %}

{% block javascripts_body %}
{{ parent() }}

<script type="text/javascript" charset="utf-8" src="{{ asset('bundles/app/js/argument.js') }}"></script>

{% endblock javascripts_body %}
