{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}

    <h1>List Function</h1>
    
    <table class="table  table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for function in functions %}
            <tr>
                <td>{{ function.id }}</td>
                <td>{{ function.name }}</td>
                <td><a class="btn btn-default" href="{{ path('app_admin_functionEdit', {'id': function.id } ) }}"><i class="fa fa-pencil"></i></a>
                <button class="btn btn-default deleteFunction" data-id="{{ function.id  }}" ><i class="fa fa-times"></i></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block javascripts_body %}
{{ parent() }}

<script type="text/javascript" charset="utf-8">
    $(function(){

        $('.deleteFunction').on('click', function(){
            var self = $(this);
            $.ajax({
                url: self.attr('data-id') +"/remove",
                type: 'DELETE',
                success: function(result) {
                    self.parent().parent().remove();
                }
            });
        });
        
    });
</script>

{% endblock javascripts_body %}
