{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
    
    <h1>Form Update Function</h1>

    <form action="{{ path('app_admin_functionEdit', {'id': app.request.get('id') } ) }}" method="post" {{ form_enctype(form) }} class="app">
        {{ form_errors(form) }}


        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
        
{% endblock content %}
