{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">

            <div class="function">

                <!-- FUNCTION NAME -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h1>{{ function.name }}
                                {% set aArgs = [] %}

                                {% for argument in function.arguments %}
                                    {% set aArgs = aArgs|merge([argument.name]) %}
                                {% endfor %}

                                ({{ aArgs|join(', ') }})
                            </h1>
                        </div>
                    </div>
                </div>

                <!-- FUNCTION DESCRIPTION -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="description">
                           {% if (language == "en") %}
                               {{ function.getEnglishDescription }}
                           {% else %}
                               {{ function.getFrenchDescription }}
                           {% endif %}
                        </div>
                    </div>
                </div>

                <!-- ARGUMENTS -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="arguments">
                            Arguments :
                            {% for argument in function.getArguments %}
                                {{ argument.name }}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- HTML EXAMPLES -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="html">
                           {% if (language == "en") %}
                               {{ function.getEnglishHtml }}
                           {% else %}
                               {{ function.getFrenchHtml }}
                           {% endif %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}
