{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
	<div class="container">
		<div clas="row">
			Search : <strong>{{ searchtext }}</strong> <span class="count">({{ pagination.getTotalItemCount }} RESULT)</span>
		</div>
		
		{# display result #}

		<div class="list_result col-md-8 col-md-offset-2">
			{% for element in pagination %}
				<div class="result">
					<div class="result_title">
						<h2>{{ element.name }}</h2>
					</div>
					<div class="result_content">
						<p>{{  app.request.locale == 'en' ? element.englishDescription : element.frenchDescription }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock content %}
