{#
## Bourbon Mathieu
#}
{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'searchPage.title'|trans }}{% endblock %}

{% block content %}
	<div class="container">
		<div clas="row">
			<form class="col-md-12 boxElement marginTop" role="search" action="{{ path('app_search') }}" method="GET">
				<div class="input-group boxRecherche">
					<input type="text" name="q" class="form-control" placeholder="{{'search.placeholder' | trans}}" value="{{ searchtext }}">
					<div class="input-group-addon">
						<button class="btn btn-transparent" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</form>

			{# display result #}

			<div class="list_result col-md-12 boxElement">
				{{'search.searchLabel' | trans}} : <strong>{{ searchtext }}</strong> <span class="count">({{ pagination.getTotalItemCount }} {{'search.resultLabel' | trans}})</span>
				<hr>
				{% for element in pagination %}
					<div class="result">
						{% if element.type == "function" %}
							<div class="result_title">
									<a href="{{ path('app_functionShow', {'id': element.id } ) }}"><h2>{{ element.name }}</h2></a>
							</div>
							<div class="result_content">
								<p>{{  app.request.locale == 'en' ? element.english_description : element.french_description }}</p>
							</div>
						{% else %}
							<div class="result_title">
								<a href="{{ path('app_tutorialShow', {'id': element.id } ) }}">
									<h2><i class="fa fa-book" aria-hidden="true"></i> {{  app.request.locale == 'en' ? element.english_title : element.french_title }}</h2>
								</a>
							</div>
						{% endif %}
					</div>
					<hr/>
				{% endfor %}
				{# display navigation #}
				<div class="navigation col-md-12 text-center">
					{{ knp_pagination_render(pagination) }}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
