{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
	<div class="container">
		<div clas="row">
			<form class="col-md-12" role="search" action="{{ path('app_search') }}" method="GET">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search for...">
					<div class="input-group-addon">
						<button class="btn btn-transparent" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</form>
			<div class="col-md-12">
				Search : <strong>{{ searchtext }}</strong> <span class="count">({{ pagination.getTotalItemCount }} RESULT)</span>
			</div>

			{# display result #}

			<div class="list_result col-md-8 col-md-offset-2">
				{% for element in pagination %}
					<div class="result">
						<div class="result_title">
							<a href="{{ path('app_functionShow', {'id': element.id } ) }}"><h2>{{ element.name }}</h2></a>
						</div>
						<div class="result_content">
							<p>{{  app.request.locale == 'en' ? element.englishDescription : element.frenchDescription }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
			{# display navigation #}
			<div class="navigation col-md-12 col-md">
				{{ knp_pagination_render(pagination) }}
			</div>

		</div>

	</div>
{% endblock content %}
