{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'about'|trans }}{% endblock %}

{% block content %}
	
		<div class="container">
			<div clas="row">
				<div class="col-xs-push-3 col-xs-6 col-sm-push-2 col-md-8 col-sm-push-1 col-md-10 col-lg-push-0 col-lg-12 white_background boxElement">{{text|html}}</div>
			</div>
			{#
			<h1>{{ 'home_page.title'|trans }}</h1>
			<p>{{ 'home_page.content'|trans }}</p>
			<p><a class="btn btn-primary btn-lg" role="button" href="{{	url('app_about') }}">{{ 'home_page.more'|trans }}</a></p>
			#}
		</div>
	
{% endblock content %}
