{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}

      					 

   

<div class="contact_background">
<div class="col-md-push-3 col-md-6">


 <h2 class="main_title">Contactez nous</h2>
<hr>
    <form action="{{ path('app_contact') }}" method="post" {{ form_enctype(form) }} class="app">

         {{ form_errors(form) }}
	 <div class="form-group">
		{{ form_label(form.name, "Votre nom :") }}
	 	{{ form_widget(form.name,{'attr': {'class': 'form-control'}})}}
	 </div>
         <div class="form-group">
		{{ form_label(form.email, "Votre email :") }}
	 	{{ form_widget(form.email,{'attr': {'class': 'form-control'}})}}
	 </div>
	 <div class="form-group">
		{{ form_label(form.subject, "Sujet :") }}
	 	{{ form_widget(form.subject,{'attr': {'class': 'form-control'}})}}
	 </div>
	 <div class="form-group">
		 {{ form_label(form.body, "Votre message :") }}
	 	 {{ form_widget(form.body,{'attr': {'class': 'form-control'}})}}
	 </div>      

        {{ form_rest(form) }}

        <input type="submit" value="Envoyer" class="btn btn-primary" />
    </form> 
</dive>
</div>
{% endblock content %}
