{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
    <header>
        <h1>Contact EZ Language staff</h1>
    </header>

    <p>Want to contact the staff?</p>

    <form action="{{ path('app_contact') }}" method="post" {{ form_enctype(form) }} class="app">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock content %}
