{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<div clas="row">
				<div class="col-md-12 center">
					<div id="prompt">
                        <h2>{{ 'exception.title'|trans }}</h2>
                        <p>{{ 'exception.text'|trans }}</p>
                        <p>{{ exception.message }}</p>
					</div>
				</div>
			</div>
			{#
			<h1>{{ 'home_page.title'|trans }}</h1>
			<p>{{ 'home_page.content'|trans }}</p>
			<p><a class="btn btn-primary btn-lg" role="button" href="{{	url('app_about') }}">{{ 'home_page.more'|trans }}</a></p>
			#}
		</div>
	</div>
{% endblock content %}
