{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}
{% block content %}

<div class="container">
  <div class="row boxElement">
      <h2 class="custom_header main_title">{{ 'navbar.admin.comment.list'|trans }} : </h2>
    {% if comments %}
      {% for comment in comments %}
        <div class="beautiful_comment">
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading custom_header"> {{ (comment.user is not null) ? comment.user.username:'' }} ({{ comment.postedAt|date('d/m/Y') }}) </h4>
              {{ comment.comment }}
          </div>
          <div class="media-right media-middle">
            <a href="{{ (comment.user is not null ) ?  path('app_admin_commentEdit', {'id': comment.id }):'#' }}">
              <span class="fa fa-pencil btn btn-default"></span>
            </a>
          </div>
        </div>
        </div>
      {% endfor %}
    {% else %}
      <p>
        {{ 'missing.data' | trans }}
      </p>
    {% endif %}
    </div>
</div>

{% endblock content %}
