{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'CreateComment.title'|trans }}{% endblock %}

{% block content %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}" />
{% endblock stylesheets %}
   
{% block javascripts_body %}
    {{ parent() }}
    <script type="text/javascript" charset="utf-8" src="{{ asset('bundles/app/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
{% endblock javascripts_body %}

<div class="container">
    <div class="row">
        <div class="col-md-push-2 col-md-8 white_background boxElement">
            <h2 class="main_title">{{'CreateComment.title' | trans}}</h2>
                
                {{ form_errors(form) }}
                 
                 {{ form_start(form,{'attr':{'style':'width:90%;margin:auto;'}} ) }}
                    
                    {{ form_widget(form._token) }}
                    
                    <div class="form-group">
                        {{ form_row(form.user) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.comment) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.postedAt) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.save) }}
                    </div>
                {{ form_end(form) }} 
    </div>
</div>
</div>
{% endblock content %}
