{% set currentPath = app.request.attributes.get('_route') %}

<header role="banner" id="fh5co-header">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="{{ url('app_homepage') }}">EZ Language</a> 
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						{% include 'AppBundle:_components:admin_navigation.html.twig' %}
						<li class="{{currentPath == 'app_tutorial_list' ? 'active'}}"><a data-nav-section="login" href="{{ path('app_tutorial_list') }}"><span>{{ 'navbar.admin.tutorial' | trans }}</span></a></li>
						<li class="{{currentPath == 'app_function_list' ? 'active'}}"><a data-nav-section="login" href="{{ path('app_function_list') }}"><span>{{ 'navbar.admin.function' | trans }}</span></a></li>
						{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							<li class="{{currentPath == 'fos_user_registration_register' ? 'active'}}"><a data-nav-section="register" href="{{ path('fos_user_registration_register') }}"><span>{{ 'navbar.register' | trans }}</span></a></li>
							<li class="{{currentPath == 'fos_user_security_login' ? 'active'}}"><a data-nav-section="login" href="{{ path('fos_user_security_login') }}"><span>{{ 'navbar.login' | trans }}</span></a></li>
						{% else %}
							<li><a data-nav-section="account" href="{{ path('app_profile',  {'userId':app.user.id}) }}"><span>{{ 'navbar.account' | trans }}</span></a></li>
							<li><a data-nav-section="logout" href="{{ path('fos_user_security_logout') }}"><span>{{ 'navbar.logout' | trans }}</span></a></li>
						{% endif %}
						<li class="{{currentPath == 'app_search' ? 'active'}}"><a href="{{ url('app_search') }}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
						<li><a href="#" type="button" data-toggle="modal" data-target="#modalChooseLanguage"> {{ app.request.locale | upper }} <span class="caret"></span></a></li>
					</ul>
				</div>
			</nav>
		</div>
</header>


{# Modal choix langue #}
<div id="modalChooseLanguage" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choix langue</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'en'}) ) }}"><div class="col-md-6"><img class='flag' src='{{ asset('bundles/app/images/flags/EN.png' ) }}' /> English</div></a>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'fr'}) ) }}"><div class="col-md-6"><img class='flag' src='{{ asset('bundles/app/images/flags/FR.png' ) }}' /> Français</div></a>
                </div>
            </div>
        </div>

    </div>
</div>
