<header role="banner" id="fh5co-header">
		<div class="container">
			<!-- <div class="row"> -->
			<nav class="navbar navbar-default">
			<div class="navbar-header">
				<!-- Mobile Toggle Menu Button -->
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
				<a class="navbar-brand" href="{{ url('app_homepage') }}">EZ Language</a> 
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="{{ url('app_homepage') }}" data-nav-section="home"><span>{{ "home" | trans }}</span></a></li>
				<li><a href="{{ url('app_about') }}" data-nav-section="about"><span>{{ "about" | trans }}</span></a></li>
				<li><a href="{{ url('app_contact') }}" data-nav-section="contact"><span>{{ "contact" | trans }}</span></a></li>
				{% include 'AppBundle:_components:admin_navigation.html.twig' %}
				{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<li><a data-nav-section="register" href="{{ path('fos_user_registration_register') }}"><span>{{ 'navbar.register' | trans }}</span></a></li>
					<li><a data-nav-section="login" href="{{ path('fos_user_security_login') }}"><span>{{ 'navbar.login' | trans }}</span></a></li>
				{% else %}
					<li><a data-nav-section="account" href="{{ path('app_profile',  {'userId':app.user.id}) }}"><span>{{ 'navbar.account' | trans }}</span></a></li>
					<li><a data-nav-section="logout" href="{{ path('fos_user_security_logout') }}"><span>Se déconnecter</span></a></li>
				{% endif %}
				<li><a href="{{ url('app_search') }}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			</nav>
			<!-- </div> -->
		</div>
</header>


