{% if (language == "en") %}
    {{ function.getEnglishDescription }}
{% else %}
    {{ function.getFrenchDescription }}
{% endif %}
</div>
<div class="arguments">
    Arguments :
    {% for argument in function.getArguments %}
        {{ argument.name }}
    {% endfor %}
</div>
<div class="html">
    {% if (language == "en") %}
        {{ function.getEnglishHtml }}
    {% else %}
        {{ function.getFrenchHtml }}
    {% endif %}
</div>
