{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-push-2 col-md-8 white_background boxElement">
            <h2 class="main_title">Form Update Tuto</h1>

            <script type="text/javascript" charset="utf-8" src="{{ asset('bundles/app/ckeditor/ckeditor.js') }}"></script>
            <form action="{{ path('app_admin_tutorialEdit', {'id': app.request.get('id') } ) }}" method="post" {{ form_enctype(form) }} class="app">

                {{ form_widget(form._token) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_row(form.french_title, {'label': 'Titre Français', 'attr': {'style': 'width:100%', 'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.english_title, {'label': 'Titre Anglais', 'attr': {'style': 'width:100%', 'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.french_html, {'label': 'HTML Français'}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.english_html, {'label': 'HTML Anglais'}) }}
                </div>
                <script>
                    CKEDITOR.replace('appbundle_tutorial_french_html');
                    CKEDITOR.replace('appbundle_tutorial_english_html');
                </script>
                <div class="form-group">
                    {{ form_row(form.tuto_next, {'label': 'Tutoriel précédent', 'attr': {'style': 'width:100%', 'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.tuto_prev, {'label': 'Tutoriel suivant', 'attr': {'style': 'width:100%', 'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <input type="submit" value="Valider" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
