{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Form Update Tuto</h1>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8" src="{{ asset('bundles/app/ckeditor/ckeditor.js') }}"></script>
    <form action="{{ path('app_admin_tutorialEdit', {'id': app.request.get('id') } ) }}" method="post" {{ form_enctype(form) }} class="app">

        {{ form_widget(form._token) }}
        {{ form_errors(form) }}

        {{ form_row(form.french_title) }}
        {{ form_row(form.english_title) }}
        {{ form_row(form.french_html, {'label': 'HTML Français'}) }}
        {{ form_row(form.english_html) }}
        <script>
            CKEDITOR.replace('appbundle_tutorial_french_html');
            CKEDITOR.replace('appbundle_tutorial_english_html');
        </script>
        {{ form_row(form.tuto_next) }}
        {{ form_row(form.tuto_prev) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock content %}
