{# {% block subject %}Resetting your password{% endblock %} #}
{% block subject %}
    {{ 'password_resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl})|escape }}
{% endblock %}

{% block body_html %}

    <div style="width: 50%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #efefef;
    font-family: 'Arial Black', Gadget, sans-serif;">
        <div class="row">
            <div style="width:50%; display: inline-block">
                <h1 style="color: #3f3f3f;">
                    Bonjour {{ user.username }},
                </h1>
            </div>
            <div style="width: 50px; float: right;">
                <img style="width:50px; height: 50px;" src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-128.png">
                </img>
            </div>
        </div>
        <div>
            <p>Vous pouvez réinitialiser votre mot de passe en cliquant ici</p><br />
            <p style="text-align: center;"><a style="
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        padding: 12px 28px;
        font-size: 16px;
        background-color: #008CBA;
        color: white;
        text-decoration: inherit;
        text-transform: uppercase;
        " href="{{confirmationUrl}}">
                Réinitialiser
            </a></p><br />
            <p style="word-wrap: break-word;">Si le bouton ne fontionne pas, cliquez ici :
            <a style="font-size: 12px;" href="{{confirmationUrl}}">
                {{confirmationUrl}}
            </a></p>
        </div>
    </div>

{% endblock %}
