{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="boxElement white_background">
            <h2 class="main_title">Pages List</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page.id}}</td>
                            <td>{{ page.name }}</td>
                            <td><a href="{{ path('app_admin_pageEdit', {'id': page.id } ) }}">Modify</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
